<form action="/usuarios/login" method="post">
<input placeholder="Email" type="email" name="email"/>
<input placeholder="Clave" type="password" name="password"/>
<input type="submit" value="Enviar" />
</form>